<a href="https://colab.research.google.com/github/sanketkale99/Vold1/blob/master/4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 4 No Practical 
# Data Analytics I
# Create a Linear Regression Model using Python/R to predict home prices using Boston Housing
# Dataset (https://www.kaggle.com/c/boston-housing). The Boston Housing dataset contains
# information about various houses in Boston through different parameters. There are 506 samples
# and 14 feature variables in this dataset.
# The objective is to predict the value of prices of the house using the given features.

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Dsbda-Colab Notebook/boston_housing.csv")
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
df.shape

(506, 14)

In [ ]:
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,price
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [ ]:
# Step 3:  These commands split the DataFrame df into the feature matrix X and the target variable y. 
# The feature matrix X contains all columns except the 'price' column, and the target variable y contains only the 'price' column.
X = df.drop('price', axis=1)
y = df['price']
print(X)
print(y)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio   black  lstat
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]
0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: price, Length: 506, dtype: float64

In [ ]:
# Step 4 :These commands use the train_test_split function from scikit-learn to split the data into training and testing sets. The feature matrix X and the target variable y are divided into X_train, X_test, y_train, and y_test. 
# The test_size=0.2 parameter specifies that 20% of the data should be allocated to the testing set, and random_state=42 sets a random seed for reproducibility.

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# These commands print the shape of the training and testing sets, providing the number of samples and the number of features for each set.
# X_train.shape and X_test.shape give the shape of the feature matrices, and y_train.shape and y_test.shape give the shape of the target variables.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(404, 13)
(102, 13)
(404,)
(102,)

In [ ]:
# Step 5: Create and train the Linear Regression model
# These commands create an instance of the LinearRegression model and fit it to the training data. 
# The fit method trains the model by finding the coefficients that minimize the sum of squared residuals between the predicted and actual target values.
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
# Step 6: Make predictions
# This command uses the trained model to make predictions on the testing set. 
# The predict method takes the feature matrix X_test as input and returns the predicted values for the target variable y.
y_pred = model.predict(X_test)
# print(y_pred)

In [ ]:
#Step 7:  This command calculates the coefficient of determination (R-squared) for the model's predictions on the testing set.
# The score method of the LinearRegression model returns the R-squared value, which indicates the proportion of the variance in the target variable that is predictable from the input features.
model.score(X_test,y_test)

0.6687594935356326

In [ ]:
# from sklearn.metrics import r2_score: This line imports the r2_score function from the scikit-learn library, which is used to calculate the R-squared score.
# rmse=(np.sqrt(mean_squared_error(y_test, y_pred))): This line calculates the root mean squared error (RMSE) between the actual target variable (y_test) and the predicted target variable (y_pred). RMSE measures the average distance between the predicted and actual values, providing an indication of the model's accuracy.
# r2 = r2_score(y_test, y_pred): This line calculates the R-squared score between the actual target variable (y_test) and the predicted target variable (y_pred). R-squared measures the proportion of the variance in the target variable that is predictable from the independent variables. A higher R-squared value indicates a better fit of the model to the data.
# print("The model performance for testing set"): This line simply prints the text "The model performance for the testing set" as a header for the performance metrics.
# print('RSE is {}'.format(rmse)): This line prints the RMSE value by substituting the calculated value into the placeholder {}.
# print('Rz score is {}'.format(r2)): This line prints the R-squared score by substituting the calculated value into the placeholder {}.

from sklearn.metrics import r2_score

rmse=(np.sqrt(mean_squared_error(y_test, y_pred)))
r2 = r2_score(y_test, y_pred)
print("The model performance for testing set")
print('RSE is {}'.format(rmse))
print('Rz score is {}'.format(r2))

The model performance for testing set
RSE is 4.928602182665332
Rz score is 0.6687594935356326

In [ ]:
# sample_data = [[3.00632, 98.0, 2333.31, 123.0, 0.538, 65.575, 65.2, 47.0900, 111.0, 296.0, 15.3, 396.90, 42.98]]: This line creates a sample data point for prediction. It includes values for each of the 13 features used in the model.
# sample_data_df = pd.DataFrame(sample_data, columns=X.columns): This line creates a DataFrame sample_data_df from the sample data with the same column names as the original feature matrix X. This step is important to ensure the correct alignment of features.
# price = model.predict(sample_data_df): This line uses the trained model to predict the house price for the sample data point.
# print("Predicted selling price for the house: ${:,.2f}".format(price[0])): This line prints the predicted selling price for the house by formatting the predicted value (price[0]) as a float with two decimal places and including a dollar sign.
# These commands calculate and display the performance metrics of the model on the testing set, as well as predict the selling price for a sample house based on the trained model.

sample_data = [[3.00632, 98.0, 2333.31, 123.0, 0.538, 65.575, 65.2, 47.0900, 111.0, 296.0, 15.3, 396.90, 42.98]]
sample_data_df = pd.DataFrame(sample_data, columns=X.columns)
price = model.predict(sample_data_df)
print("Predicted selling price for the house: ${:,.2f}".format(price[0]))

Predicted selling price for the house: $677.81